In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding='latin-1')

In [50]:
data.head(200)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
195,4,Algeria,2534,"Roots, Other",5072,Stock Variation,1000 tonnes,0.00,0.00,0.00,0.00,0.00
196,4,Algeria,2534,"Roots, Other",5911,Export Quantity,1000 tonnes,NaN,NaN,NaN,0.00,0.00
197,4,Algeria,2534,"Roots, Other",5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
198,4,Algeria,2534,"Roots, Other",5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,0.00
199,4,Algeria,2534,"Roots, Other",5142,Food,1000 tonnes,0.00,0.00,0.00,0.00,0.00

In [52]:
data1 = data.head(1313)

In [58]:
w=set(data['Area'])
w

{'Algeria',
 'Angola',
 'Benin',
 'Botswana',
 'Burkina Faso',
 'Cabo Verde',
 'Cameroon',
 'Central African Republic',
 'Chad',
 'Comoros',
 'Congo',
 "Côte d'Ivoire",
 'Djibouti',
 'Egypt',
 'Eswatini',
 'Ethiopia',
 'Ethiopia PDR',
 'Gabon',
 'Gambia',
 'Ghana',
 'Guinea',
 'Guinea-Bissau',
 'Kenya',
 'Lesotho',
 'Liberia',
 'Madagascar',
 'Malawi',
 'Mali',
 'Mauritania',
 'Mauritius',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Niger',
 'Nigeria',
 'Rwanda',
 'Sao Tome and Principe',
 'Senegal',
 'Seychelles',
 'Sierra Leone',
 'South Africa',
 'Sudan',
 'Sudan (former)',
 'Togo',
 'Tunisia',
 'Uganda',
 'United Republic of Tanzania',
 'Zambia',
 'Zimbabwe'}

In [53]:
data1.groupby('Element')['Y2018'].sum()

Element
Domestic supply quantity                  90023.42
Export Quantity                             811.54
Fat supply quantity (g/capita/day)          309.09
Feed                                      10668.00
Food                                      63736.33
Food supply (kcal/capita/day)             13288.00
Food supply quantity (kg/capita/yr)        1509.28
Import Quantity                           36238.29
Losses                                     7708.00
Other uses (non-food)                      3970.08
Processing                                 2479.00
Production                                60766.67
Protein supply quantity (g/capita/day)      367.28
Residuals                                   630.00
Seed                                        825.00
Stock Variation                            6172.00
Total Population - Both sexes             42228.00
Name: Y2018, dtype: float64

In [37]:
data.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [39]:
data.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [40]:
data.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [47]:
data.groupby('Element')['Y2017'].sum().max()

2088198.0999999999

In [4]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

In [6]:
col = ['Age','Nationality','Overall']

In [7]:
pd.DataFrame(lst,columns=col, index=[i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [20]:
array  = np.array([[94, 89, 63],[93, 92, 48],[92, 94, 56]])

In [21]:
array[:2,0:]

array([[94, 89, 63],
       [93, 92, 48]])

In [22]:
S = [['him', 'sell'], [90, 28, 43]]

In [23]:
S[0][1][1]

'e'

In [24]:
my_tuppy = (1,2,5,8)

In [25]:
my_tuppy = (1,2,5,8)

In [26]:
my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [27]:
y = [(2, 4), (7, 8), (1, 5, 9)]

In [28]:
y[1][1]

8

In [29]:
y[1][-1]

8